:root {
  --ion-color-primary: #ffa600;
  --ion-color-primary-rgb: 255,166,0;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #e09200;
  --ion-color-primary-tint: #ffaf1a;

  --ion-color-secondary: #ffb1ff;
  --ion-color-secondary-rgb: 255,177,255;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #e09ce0;
  --ion-color-secondary-tint: #ffb9ff;

  --ion-color-tertiary: #00eef9;
  --ion-color-tertiary-rgb: 0,238,249;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #00d1db;
  --ion-color-tertiary-tint: #1af0fa;

  --ion-color-success: #ffa300;
  --ion-color-success-rgb: 255,163,0;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #e08f00;
  --ion-color-success-tint: #ffac1a;

  --ion-color-warning: #00f5f6;
  --ion-color-warning-rgb: 0,245,246;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #00d8d8;
  --ion-color-warning-tint: #1af6f7;

  --ion-color-danger: #00f800;
  --ion-color-danger-rgb: 0,248,0;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0,0,0;
  --ion-color-danger-shade: #00da00;
  --ion-color-danger-tint: #1af91a;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,36,40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146,148,156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,245,248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}