<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      美容体型リスト
    </ion-title>
  </ion-toolbar>
</ion-header>

<form class="ion-padding" (submit)="addTask()" #f="ngForm">
     <ion-item>
      <ion-label stacked>あなたの身長(cm)</ion-label>
      <ion-input type="number" [(ngModel)]="height2" name="height">
      </ion-input>
      <ion-label stacked>あなたの年齢(歳)</ion-label>
      <ion-input type="number" [(ngModel)]="old" name="old">
      </ion-input>
        <ion-label stacked>体温(℃)</ion-label>
      <ion-input type="number" [(ngModel)]="BodyTemperature" name="BodyTemperature">
      </ion-input>
　</ion-item>
<ion-button expand="block" type="submit">
  ※基礎代謝量を知りたい方は年齢。水分蒸発量を知りたい方は体温を入れて下さい。</ion-button>
</form>

　　<ion-item>
  <ion-label>１日に必要な水分量</ion-label>
  <ion-input position="floating" type="text"  name="Moisture"></ion-input>
  <ion-label>{{(height2*height2*20/10000)*40 | number:'1.0-0'}}ml</ion-label>
  <ion-label>・１日の水分蒸発量</ion-label>
  <ion-input position="floating" type="text"  name="Moisture"></ion-input>
  <ion-label>{{(height2*height2*20/10000)*15+200*(BodyTemperature-36.8) | number:'1.0-0'}}ml</ion-label>
　　</ion-item>

    <ion-item>
      <ion-label>基礎代謝量(女性)</ion-label>
    <ion-input position="floating" type="text" name="Metabolism1"></ion-input>
    <ion-label>{{(9.247*height2*height2*20/10000)+(3.098*height2)-(4.33*old)+447.593 | number:'1.0-0'}}kcal</ion-label>
    <ion-label>・基礎代謝量(男性)</ion-label>
    <ion-input position="floating" type="text" name="Metabolism2"></ion-input>
    <ion-label>{{(13.397*height2*height2*20/10000)+(4.799*height2)-(5.677*old)+88.362 | number:'1.0-0'}}kcal</ion-label>
    </ion-item>


    <ion-item>
      <ion-label >標準体重</ion-label>
      <ion-input position="floating" type="text"  name="weight" ></ion-input>
      <ion-label>{{height2*height2*22/10000 | number:'1.0-0'}}kg</ion-label>
   

        <ion-label>・美容体重</ion-label>
        <ion-input position="floating" type="text" name="weight2"></ion-input>
        <ion-label>{{height2*height2*20/10000 | number:'1.0-0'}}kg</ion-label>
       
        <ion-label>・モデル体重</ion-label>
       <ion-input position="floating" type="text"  name="weight3"></ion-input>
       <ion-label>{{height2*height2*18/10000 | number:'1.0-0'}}kg</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>バスト</ion-label>
      <ion-input position="floating" type="text"  name="BustSize"></ion-input>
      <ion-label>{{height2*0.52 | number:'1.0-0'}}~{{height2*0.53 | number:'1.0-0'}}cm</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>アンダーバスト</ion-label>
      <ion-input position="floating" type="text"  name="UnderBust"></ion-input>
      <ion-label>{{height2*0.432 | number:'1.0-0'}}cm</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>ウエスト</ion-label>
      <ion-input position="floating" type="text"  name="Waist"></ion-input>
      <ion-label>{{height2*0.37 | number:'1.0-0'}}~{{height2*0.39 | number:'1.0-0'}}cm</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>ヒップ</ion-label>
      <ion-input position="floating" type="text" name="Hip"></ion-input>
      <ion-label>{{height2*0.37 | number:'1.0-0'}}~{{height2*0.39 | number:'1.0-0'}}cm</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>二の腕</ion-label>
      <ion-input position="floating" type="text"  name="UpperArm"></ion-input>
        <ion-label>{{height2*0.145 | number:'1.0-0'}}~{{height2*0.16 | number:'1.0-0'}}cm</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>太もも</ion-label>
      <ion-input position="floating" type="text"  name="Thigh"></ion-input>
        <ion-label>{{height2*0.29 | number:'1.0-0'}}~{{height2*0.31 | number:'1.0-0'}}cm</ion-label>    
      </ion-item>
    <ion-item>
      <ion-label>ふくらはぎ</ion-label>
      <ion-input  position="floating" type="text"  name="Calf"></ion-input>
      <ion-label>{{height2*0.2 | number:'1.0-0'}}~{{height2*0.21 | number:'1.0-0'}}cm</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>足首</ion-label>
      <ion-input position="floating" type="text"  name="ankle"></ion-input>
      <ion-label>{{height2*0.12 | number:'1.0-0'}}cm</ion-label>
   </ion-item>   

   <ion-item>
    <ion-label>ヒップ高</ion-label>
    <ion-input position="floating" type="text"  name="CroupHeight"></ion-input>
    <ion-label>{{height2*0.5 | number:'1.0-0'}}cm</ion-label>
 </ion-item>   
 <ion-item>
  <ion-label>股下</ion-label>
  <ion-input position="floating" type="text"  name="LengthOfTheLeg"></ion-input>
  <ion-label>{{height2*0.47 | number:'1.0-0'}}cm</ion-label>
</ion-item>   