<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      美容体型リスト(女性)
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <form class="ion-padding" (submit)="addTask()" #f="ngForm">

    <ion-item>
      <ion-label stacked>あなたの身長(cm)</ion-label>
      <ion-input type="number" [(ngModel)]="height2" name="height">
    </ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>あなたの年齢(歳)</ion-label>
      <ion-input type="number" [(ngModel)]="old" name="old">
      </ion-input>
    </ion-item>
    <ion-item>
        <ion-label stacked>体温(℃)</ion-label>
      <ion-input type="number" [(ngModel)]="BodyTemperature" name="BodyTemperature">
      </ion-input>
　　</ion-item>

　　　　<font color="#f39325">
        <p><b>※身長を入力して下さい。<br />
          ※基礎代謝量を知りたい方は年齢、<br />
        水分蒸発量を知りたい方は体温も入力して下さい。</b></p>
      </font>
</form>

<ion-item>
  <b>水</b>
</ion-item>
<ion-item>
  <ion-label>１日に必要な水分量</ion-label>
  <ion-input position="floating" type="text"  name="Moisture"></ion-input>
  <ion-label>{{(height2*height2*20/10000)*40 | number:'1.0-0'}}ml</ion-label>
</ion-item>
<ion-item>
  <ion-label>１日の水分蒸発量</ion-label>
  <ion-input position="floating" type="text"  name="Moisture"></ion-input>
  <ion-label>{{(height2*height2*20/10000)*15+200*(BodyTemperature-36.8) | number:'1.0-0'}}ml</ion-label>
</ion-item>

<ion-item>
  <b>基礎代謝量</b>
   <ion-input position="floating" type="text" name="Metabolism1"></ion-input>
　  <ion-label>{{(9.247*height2*height2*20/10000)+(3.098*height2)-(4.33*old)+447.593 | number:'1.0-0'}}kcal</ion-label>
</ion-item>
<ion-item>
  <ion-label ><b>体脂肪率</b></ion-label>20％
 </ion-item>

<ion-item>
    <b>体重</b>
</ion-item>
<ion-item>
      <ion-label >・標準</ion-label>
      <ion-input position="floating" type="text"  name="weight" ></ion-input>
      <ion-label>{{height2*height2*22/10000 | number:'1.0-0'}}kg</ion-label>
</ion-item>
<ion-item>
 <ion-label>・美容</ion-label>
    <ion-input position="floating" type="text" name="weight2"></ion-input>
   <ion-label>{{height2*height2*20/10000 | number:'1.0-0'}}kg</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>・モデル</ion-label>
       <ion-input position="floating" type="text"  name="weight3"></ion-input>
       <ion-label>{{height2*height2*18/10000 | number:'1.0-0'}}kg</ion-label>
    </ion-item>

    <ion-item>
     <b>上半身</b>
    </ion-item>
    <ion-item>
      <ion-label>バストトップ</ion-label>
      <ion-input position="floating" type="text"  name="BustSize"></ion-input>
      <ion-label>{{height2*0.52 | number:'1.0-0'}}~{{height2*0.53 | number:'1.0-0'}}cm</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>アンダーバスト</ion-label>
      <ion-input position="floating" type="text"  name="UnderBust"></ion-input>
      <ion-label>{{height2*0.432 | number:'1.0-0'}}cm</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>ウエスト</ion-label>
      <ion-input position="floating" type="text"  name="Waist"></ion-input>
      <ion-label>{{height2*0.37 | number:'1.0-0'}}~{{height2*0.39 | number:'1.0-0'}}cm</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>ヒップ</ion-label>
      <ion-input position="floating" type="text" name="Hip"></ion-input>
      <ion-label>{{height2*0.53 | number:'1.0-0'}}~{{height2*0.54 | number:'1.0-0'}}cm</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>二の腕</ion-label>
      <ion-input position="floating" type="text"  name="UpperArm"></ion-input>
        <ion-label>{{height2*0.145 | number:'1.0-0'}}~{{height2*0.16 | number:'1.0-0'}}cm</ion-label>
    </ion-item>

    <ion-item>
      <b>下半身</b>
     </ion-item>
    <ion-item>
      <ion-label>太もも</ion-label>
      <ion-input position="floating" type="text"  name="Thigh"></ion-input>
        <ion-label>{{height2*0.29 | number:'1.0-0'}}~{{height2*0.31 | number:'1.0-0'}}cm</ion-label>    
      </ion-item>
    <ion-item>
      <ion-label>ふくらはぎ</ion-label>
      <ion-input  position="floating" type="text"  name="Calf"></ion-input>
      <ion-label>{{height2*0.2 | number:'1.0-0'}}~{{height2*0.21 | number:'1.0-0'}}cm</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>足首</ion-label>
      <ion-input position="floating" type="text"  name="ankle"></ion-input>
      <ion-label>{{height2*0.12 | number:'1.0-0'}}cm</ion-label>
   </ion-item>   

   <ion-item>
    <ion-label>ヒップ高</ion-label>
    <ion-input position="floating" type="text"  name="CroupHeight"></ion-input>
    <ion-label>{{height2*0.5 | number:'1.0-0'}}cm</ion-label>
 </ion-item>   
 <ion-item>
  <ion-label>股下</ion-label>
  <ion-input position="floating" type="text"  name="LengthOfTheLeg"></ion-input>
  <ion-label>{{height2*0.47 | number:'1.0-0'}}cm</ion-label>
</ion-item> 
</ion-content>  