<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
   <ion-datetime displayFormat="YYYY年MM月DD日"
     doneText="OK"
     cancelText="キャンセル"
     placeholder="日付を選択"
     [(ngModel)]="item.startDateInput" name="startDateInput">
   </ion-datetime>
 </ion-item>
<ion-item>
      <ion-label position="floating">
        <ion-button color="Success">memo</ion-button>
      </ion-label>
      <ion-input type="text" [(ngModel)]="item.memo" name="memo"></ion-input>
     </ion-item>
  <form class="ion-padding" (submit)="addTask()" #f="ngForm">
   <ion-list lines="full">

    

     <ion-item>
    　<ion-label position="floating">身長(cm)</ion-label>
      <ion-input type="text" [(ngModel)]="item.height" name="height"
      required minlength="1" maxlength="3"></ion-input>
     </ion-item>

     <ion-item>
      <ion-label position="floating">体重(kg)</ion-label>
      <ion-input type="text" [(ngModel)]="item.weight" name="weight"
      required minlength="1" maxlength="3"></ion-input>
     </ion-item>

     <ion-item>
      <ion-label position="floating">体脂肪率(％)</ion-label>
      <ion-input type="text" [(ngModel)]="item.BodyFatPercentage" name="BodyFatPercentage"
      required minlength="1" maxlength="3"></ion-input>
     </ion-item>

     <ion-item>
      <ion-label position="floating">バスト・胸囲(cm)</ion-label>
      <ion-input type="text" [(ngModel)]="item.BustSize" name="BustSize"
      required minlength="1" maxlength="3"></ion-input>
     </ion-item>

     <ion-item>
      <ion-label position="floating">アンダーバスト(cm)</ion-label>
      <ion-input type="text" [(ngModel)]="item.UnderBust" name="UnderBust"
      required minlength="1" maxlength="3"></ion-input>
     </ion-item>

     <ion-item>
      <ion-label position="floating">ウエスト・くびれ部分(cm)</ion-label>
      <ion-input type="text" [(ngModel)]="item.Waist" name="Waist"
      required minlength="1" maxlength="3"></ion-input>
     </ion-item>

     <ion-item>
      <ion-label position="floating">腹囲(cm)</ion-label>
      <ion-input type="text" [(ngModel)]="item.WaistCircumference" name="WaistCircumference"
      required minlength="1" maxlength="3"></ion-input>
     </ion-item>

     <ion-item>
      <ion-label position="floating">ヒップ(cm)</ion-label>
      <ion-input type="text" [(ngModel)]="item.Hip" name="Hip"
      required minlength="1" maxlength="3"></ion-input>
     </ion-item>

     <ion-item>
      <ion-label position="floating">二の腕・左(cm)</ion-label>
      <ion-input type="text" [(ngModel)]="item.leftUpperArm" name="leftUpperArm"
      required minlength="1" maxlength="3"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">二の腕・右(cm)</ion-label>
      <ion-input type="text" [(ngModel)]="item.rightUpperArm" name="rightUpperArm"
      required minlength="1" maxlength="3"></ion-input>
     </ion-item>

     <ion-item>
      <ion-label position="floating">前腕・左(cm)</ion-label>
      <ion-input type="text" [(ngModel)]="item.leftForearm" name="leftForearm"
      required minlength="1" maxlength="3"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">前腕・右(cm)</ion-label>
      <ion-input type="text" [(ngModel)]="item.rightForearm" name="rightForearm"
      required minlength="1" maxlength="3"></ion-input>
     </ion-item>

     <ion-item>
      <ion-label position="floating">太もも・左(cm)</ion-label>
      <ion-input type="text" [(ngModel)]="item.leftThigh" name="leftThigh"
      required minlength="1" maxlength="3"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">太もも・右(cm)</ion-label>
      <ion-input type="text" [(ngModel)]="item.rightThigh" name="rightThigh"
      required minlength="1" maxlength="3"></ion-input>
     </ion-item>

     <ion-item>
      <ion-label position="floating">ふくらはぎ・左(cm)</ion-label>
      <ion-input type="text" [(ngModel)]="item.leftCalf" name="leftleftCalf"
      required minlength="1" maxlength="3"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">ふくらはぎ・右(cm)</ion-label>
      <ion-input type="text" [(ngModel)]="item.rightCalf" name="rightCalf"
      required minlength="1" maxlength="3"></ion-input>
     </ion-item>

     <ion-item>
      <ion-label position="floating">足首・左(cm)</ion-label>
      <ion-input type="text" [(ngModel)]="item.leftAnkle" name="leftAnkle"
      required minlength="1" maxlength="3"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">足首・右(cm)</ion-label>
      <ion-input type="text" [(ngModel)]="item.rightAnkle" name="rightankle"
      required minlength="1" maxlength="3"></ion-input>
     </ion-item>
     <ion-item>
      <ion-label position="floating">股下(cm)</ion-label>
      <ion-input type="text" [(ngModel)]="item.LengthOfTheLeg" name="LengthOfTheLeg"
      required minlength="1" maxlength="3"></ion-input>
     </ion-item>
     <ion-item>
      <ion-label position="floating">ヒップ高(cm)</ion-label>
      <ion-input type="text" [(ngModel)]="item.CroupHeight" name="CroupHeight"
      required minlength="1" maxlength="3"></ion-input>
     </ion-item>

      <ion-button expand="block" type="submit" color="primary"(click)="saveItem()">保存</ion-button>

   </ion-list>
  </form>

</ion-content>
